<div class="car-show-box">
    <div class="car-show-desc">
      <h1>Sewa & Rental Mobil Terbaik di kawasan Yogyakarta</h1>
      <p><br>Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.
      </p><br>
      <button type="button" class="hero-btn" onclick="window.location.href = 'searchcar.html';">Mulai Sewa Mobil</button>
    </div>
    <div class="mobil">
        <img class="image1" src="assets/bg.png"  alt=""> 
        <img class="image2" src="assets/Mobil.png"  alt=""> 
  </div>
</div>

  <style>
    .car-show-box{
        height: 350px;
    }
  </style>