<nav>
    <a href="index.html"><img src=""></a>
    <ul>
      <button type="button" href="" class="blue-button" onclick="window.location.href = 'index.html';"></button>
      <!-- <button type="button" class="hero-btn" onclick="window.location.href = 'searchcar.html';">Mulai Sewa Mobil</button> -->


  </ul>
  <div class="navigation">
    <ul>
      <li><a href="#service">Our Service</a></li>
      <li><a href="#why_us">Why Us</a></li>
      <li><a href="#testi">Testimonial</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><button href="" class="register-btn">Register</button></li>
    </ul>
  </div>
  </nav>