    <div class="footer-section">
      <div class="information">
        <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
        <p>binarcarrental@gmail.com</p>
        <p>081-233-334-808</p>
      </div>

      <div class="website-menu">
        <ul>
            <li><a href="#service">Our Services</a></li>
            <li><a href="#why_us">Why Us</a></li>
            <li><a href="#testi">Testimonial</a></li>
            <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>

      <div class="social-media">
        <p>Connect with us</p>
        <img src="assets/sosmed.png" alt="">
      </div>

      <div class="copyright-binar">
        <p>Copyright Binar 2022</p>
        <a href="" class="blue-button" onclick="window.location.href = 'searchcar.html';"></a>
      </div>
    </div>

    <style>
        .footer-section{
            justify-content: center;
        }
    </style>